@import "../css/reset.css";
html,
body {
  height: 100%;
  width: 100%;
}
.bigb {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -ms-flex-direction: column;
}
.header {
  height: 0.92rem;
  background: url("../img/hd.png") repeat-y 0 0;
  background-size: 100% 100%;
  text-align: center;
  overflow: hidden;
}
.header .fan {
  font-size: .36rem;
  line-height: .92rem;
  color: #f1f2f4;
  font-weight: bold;
  float: left;
  margin-left: .21rem;
}
.header .tit {
  font-size: .38rem;
  line-height: .92rem;
  color: #f1f2f4;
  font-weight: bold;
}
.header .ss {
  font-size: .1rem;
  line-height: .92rem;
  color: #f1f2f4;
  font-weight: bold;
  float: right;
  margin-right: .28rem;
}
.page {
  flex: 1;
  padding: 0 .22rem;
  background: url("../img/bg01.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}
h1 {
  height: .78rem;
  line-height: .78rem;
  font-size: .38rem;
  font-weight: bold;
  color: #002971;
  text-align: center;
  padding-top: .18rem;
}
.box {
  width: 100%;
  height: 4.8rem;
  background: #fff;
  text-align: center;
  margin-bottom: .22rem;
}
.box p {
  height: .62rem;
  line-height: .62rem;
  font-size: .26rem;
  text-align: center;
  color: #646464;
  margin-bottom: .02rem;
}
.box .ma {
  text-align: center;
  width: 4.18rem;
  height: .75rem;
  margin: 0 auto;
  background: url("../img/bg03.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  margin-bottom: .39rem;
}
.box .ma .maz {
  line-height: .75rem;
  font-size: .3rem;
  letter-spacing: .6rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  margin-left: .355rem;
}
.box img {
  width: 4.85rem;
  height: 2.94rem;
}
h2 {
  height: .3rem;
  line-height: .3rem;
  font-size: .3rem;
  font-weight: bold;
  color: #002971;
  text-align: left;
  margin-bottom: .13rem;
  margin-right: .08rem;
}
.qing {
  line-height: .34rem;
  font-size: .24rem;
  margin-right: .08rem;
  margin-bottom: .14rem;
  color: #646462;
}
.kai {
  width: 4.34rem;
  height: .97rem;
  font-size: .38rem;
  font-weight: bold;
  color: #fff;
  font-family: '宋体';
  text-align: center;
  font-style: italic;
  line-height: .97rem;
  text-shadow: .02rem .02rem .02rem #be80af;
  background: url("../img/btn01.png") no-repeat 0 0;
  margin: 0 auto .23rem;
  background-size: 100% 100%;
}
.fen {
  text-align: center;
  height: .68rem;
  line-height: .68rem;
  font-size: .3rem;
  color: #616a6f;
}
.fen span img {
  margin: 0 .12rem;
  width: .68rem;
  height: .68rem;
}
